.bm-item-list a {
  box-shadow: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 40px;
  color: #ecf0f1;
  vertical-align: middle;
}

.bm-item-list a:hover {
  text-decoration: none;
  color: #007acc;
}

.footer-icon {
  box-shadow: none;
  font-size: 40px;
  margin: 0.5em;
  color: #7f8c8d;
}

.footer-icon:hover {
  color: #bdc3c7;
}

.about {
  text-align: center;
}

.about .content {
  text-align: justify;
}
